<center> 
    <font size=6 color="blue">
        <b>QUIZ 01 - Work Notebook</b>
    </font>
</center>

<pre>

INSTRUCTIONS:

You might NOT have the time to work out the problems while doing the actual quiz as the online quiz must be submitted in one sitting (system does not allow one to save and come back to it). 

Therefore, before starting the quiz, make sure to do all the problems in the notebook and verify that they are correct. 

Once you are satisfied of your answers, you may start the quiz, and when the quiz begins you can answer the appropriate question by just filling in the answers from your work here in the notebook. 

You can download the quiz work notebook under the CONTENT ---> QUIZ NOTEBOOKS section of myCourses. 

</pre>

<center> 
    <font size=6 color="blue">
        <b>Question 01</b>
    </font>
</center>

<pre>
Consider the following python code below. What should you ADD to the underscored area in order to make the expression output "True"?

x=1; x+=~23; (0|1+x&3)**3^2==x+2-(~22)+x&2____

⚫ 19
⚫ 3
⚫ 61
⚫ 8
⚫ 15
</pre>

#### SOLUTION:

In [21]:
x=1; x+=~23;

(0|1+x&3)**3^2==x+2-(~22)+x&2+8

True

8

<center> 
    <font size=6 color="blue">
        <b>Question 02</b>
    </font>
</center>

<pre>
What is a correct syntax to output "IMGS609" in core Python 3? (Select all that apply)

⚫ fprint("IMGS609")
⚫ print("IMGS609")
⚫ print "IMGS609"
⚫ echo "IMGS609"
⚫ print('IMGS609')
</pre>

#### SOLUTION(S):

In [34]:
print("IMGS609")
print('IMGS609')

IMGS609
IMGS609

<center> 
    <font size=6 color="blue">
        <b>Question 03</b>
    </font>
</center>

<pre>
How do you insert comments in Python 3 code? (Select all that apply)

⚫ "" Python comment ""
⚫ // Python comment
⚫ /* Python comment */
⚫ # Python comment
⚫ ~ Python comment
⚫ """ Python comment """
⚫ %% Python comment
</pre>

#### SOLUTION(S):

In [36]:
# Pyhon comment
"""Python Comment"""

'Python Comment'

<center> 
    <font size=6 color="blue">
        <b>Question 04</b>
    </font>
</center>

<pre>
Consider the output below. How many loops does one need to produce the following outout?

1	 
5	1	 
5	1	5	 
1	5	1	5	 
1	5	1	5	1	 
5	1	5	1	5	1	 
5	1	5	1	5	1	5	 
 
⚫ 2
⚫ 5
⚫ 4
⚫ 3
⚫ None
</pre>

#### SOLUTION:

In [1]:
k = 1
for i in range(0, 7):
    for j in range(0, i+1):
        print(k, end="\t")
        k = k ^ -1  + 5
    print(" ")

# Needed only two loops

1
5	1
5	1	5
1	5	1	5
1	5	1	5	1
5	1	5	1	5	1
5	1	5	1	5	1	5

<center> 
    <font size=6 color="blue">
        <b>Question 05</b>
    </font>
</center>

<pre>
Consider the following code block with line numbers:

1      k = 2
2      for i in range(0, 7):
3          for j in range(0, i+1):
4              print(k, end="\t")
5              k = k^1 + 4
6          print(" ")

What combination of values and operations must one use to modify line 5 to achieve the following output?

2	 
0	2	 
0	2	0	 
2	0	2	0	 
2	0	2	0	2	 
0	2	0	2	0	2	 
0	2	0	2	0	2	0	

Example: If a given choice states: -, +, 2, 7. One could choose between the following choices for line 5:

k = k+7 - 2
k = k-7 + 2
k = k+2 - 7
k = k-2 + 7

⚫ ^ , -, 3 , 4 

⚫ + , **, 2 , 1

⚫ - , |, 1 , 1

⚫ * , ^, 2 , 1

⚫ ** , &, 6 , 5
</pre>

#### SOLUTION:

In [28]:
k = 2
for i in range(0, 7):
    for j in range(0, i+1):
        print(k, end="\t")
        k = k ^ 2  * 1
    print(" ")
    
# k = k ^2 * 1

2
0	2
0	2	0
2	0	2	0
2	0	2	0	2
0	2	0	2	0	2
0	2	0	2	0	2	0

<center> 
    <font size=6 color="blue">
        <b>Question 06</b>
    </font>
</center>

<pre>
Consider the following output:

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 2]
[0, 1, 2, 2, 3]
[0, 1, 2, 2, 3, 4]
[0, 1, 2, 2, 3, 4, 3]
[0, 1, 2, 2, 3, 4, 3, 4]
[0, 1, 2, 2, 3, 4, 3, 4, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 12]

How many iterations in total must the code execute to produce the result above?

⚫ 29
⚫ 21
⚫ 7
⚫ 28
⚫ 32
</pre>

#### SOLUTION:

In [11]:
my_list = [0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 12, 13]

for i in range(1, len(my_list)):
    print(my_list[:i])          # slicing the whole whole list by respecive index

# Number of iterations = 28

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 2]
[0, 1, 2, 2, 3]
[0, 1, 2, 2, 3, 4]
[0, 1, 2, 2, 3, 4, 3]
[0, 1, 2, 2, 3, 4, 3, 4]
[0, 1, 2, 2, 3, 4, 3, 4, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 2, 3, 4, 3, 4, 5, 6, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 12]

<center> 
    <font size=6 color="blue">
        <b>Question 07</b>
    </font>
</center>

<pre>
Consider the following output that was produced using an iterative algorithm. Write an algorithmic solution (not just print statements) to produce the output below. 

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 
* * * * * * * * * * 
~ ~ ~ ~ ~ ~ ~ ~ ~ 
~ ~ ~ ~ ~ ~ ~ ~ 
~ ~ ~ ~ ~ ~ ~ 
~ ~ ~ ~ ~ ~ 
~ ~ ~ ~ ~ 
~ ~ ~ ~ 
~ ~ ~ 
~ ~ 
~ 

How many "for loops" one must use to produce this output?

⚫ 2
⚫ 6
⚫ 3
⚫ 5
⚫ 4
</pre>

#### SOLUTION:

In [10]:
for i in range(0,11):
    for j in range(i):
        print("*", end=" ")
    print()

for i in range(9, 0, -1):
    for j in range(0, i):
        print("~", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
~ ~ ~ ~ ~ ~ ~ ~ ~
~ ~ ~ ~ ~ ~ ~ ~
~ ~ ~ ~ ~ ~ ~
~ ~ ~ ~ ~ ~
~ ~ ~ ~ ~
~ ~ ~ ~
~ ~ ~
~ ~
~

In [23]:
#Four for loops

<center> 
    <font size=6 color="blue">
        <b>Question 08</b>
    </font>
</center>

<pre>
Consider the following block of code:

 1    decrement = 8
 2    counter = 64
 3    value = 65
 4    for i in range(0, 5):
 5        for k in range(0, decrement):
 6            print(end="\t")
 7        for j in range(0, i+1):
 8            counter = counter + 1
 9        value = counter
10        temp = value
11        for j in range(0, i+1):
12            ch = chr(value)
13            print(ch, end="\n")
14            value = value - 1
15        value = temp
16        decrement = decrement - 2
17        print()

Debug the code above to produce the following output:

        A 
      C B 
    F E D 
  J I H G 
O N M L K 

Which lines of code (line numbers) must you edit to successfully achieve the output above? 

⚫ 2, 4, 14
⚫ 6, 13
⚫ 3, 7, 14
⚫ 1, 5, 6
⚫ 7, 13, 16

</pre>

#### SOLUTION:

In [34]:
decrement = 8
counter = 64
value = 65
for i in range(0, 5):
    for k in range(0, decrement):
        print(" ", end=" ")
    for j in range(0, i+1):
        counter = counter + 1
        value = counter
        temp = value
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
        value = value - 1
    value = temp
    decrement = decrement -1
    print()

                A
              C B
            F E D
          J I H G
        O N M L K

In [35]:
# B ---> 6 and 13

<center> 
    <font size=6 color="blue">
        <b>Question 09</b>
    </font>
</center>

<pre>
How can you define a complex number in Python 3 code (code you pick has to be executable with no errors)? (Select all that apply)

⚫ 3+2i
⚫ 5-(3*2)j
⚫ 9j+18
⚫ complex(3, 4*2)
⚫ 3 + 5 j
⚫ s-i4
</pre>

#### SOLUTION(S):

In [24]:
# 3 + 2j, not 2 + 2i

# 5 - 3*2j, not 5 - (3*2)j

# 9j + 18[X]
# complex(3, 4*2)[X]
# 3 + 5j, not 3 + 5 j, con't do space
#s - i4 can not insert varialbe without defining


# C and D

In [142]:
complex(3, 4*2)

(3+8j)

In [148]:
#3 +5 j; INVALID

SyntaxError: invalid syntax (2523444188.py, line 1)

<center> 
    <font size=6 color="blue">
        <b>Question 10</b>
    </font>
</center>

<pre>
Consider the following output that was produced using an iterative algorithm. Write an algorithmic solution (not just print statements) to produce the output below. 

*       *       *       *       *       *       *       *       *       * 	
     *  *       *       *       *       *       *       *       * 	
          *     *       *       *       *       *       *       * 	
               *        *       *       *       *       *       * 	
                    *   *       *       *       *       * 	
                         *      *       *       *       * 	
                              *         *       *       * 	
                                   *    *       * 	
                                        *       * 	
                                             * 	
                                             
HINT: You might want to use a print statement with 5 end spaces in your algorithm:

     print(end="     ")

How many "for loops" one must use to produce this output?

⚫ 2
⚫ 6
⚫ 3
⚫ 5
⚫ 4
</pre>

#### SOLUTION:

In [140]:
s = '*'
space = ' '
k = 1 
for i in range(0,10):
    for j in range(1,11-i):
        if j == 1:
            
            initial_pos = 5*i   # white space at the begining
            print(space*(initial_pos),'*',end='')    # print 1st star '*'

    ## Code to print 2nd position star '*' 
        elif i !=0 and j == 2:
            # update for 2nd position star not including 1st row
            next_pos = 8*k            # 2nd star must be multiple of overall spacing in the pattern, ie, 8 (consider in this case)
            if next_pos > initial_pos:
            # 2nd postion must be grater than 1st 
                remainder = next_pos - initial_pos  # space to add after 1st star
                if remainder > 10:
                # if the next star position should be more than 10 space over. As seen in the pattern
                    next_pos = 8*(k-1)    # 2nd position with previous space multiple 
                    next_pos1 = next_pos - initial_pos  # space to add
                else:
                    next_pos1 = remainder 
                    k += 1
            print(space*(next_pos1-2),'*',end='')    # print 2nd star
        ## Code to print all the remaining star
        else:
            print(space*6,'*', end='')
    print()

 *       *       *       *       *       *       *       *       *       *
      *  *       *       *       *       *       *       *       *
           *     *       *       *       *       *       *       *
                *        *       *       *       *       *       *
                     *   *       *       *       *       *
                          *      *       *       *       *
                               *         *       *       *
                                    *    *       *
                                         *       *
                                              *

<center> 
    <font size=6 color="blue">
        <b>Question 11</b>
    </font>
</center>

<pre>
Consider the following code block:

1    num_cols = 10
2    for i in range(num_cols,0,-1):
3        for j in range(0, num_cols-i):
4            print(end="     ")
5        for j in range(0,i):
6            print("* ", end="")
7        print()

Debug the code above to produce the following output:

~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     
        ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     
                ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     ~*~     
                        ~*~     ~*~     ~*~     ~*~     ~*~     
                                ~*~     ~*~     ~*~     
                                        ~*~     

HINT: You might want to use the "end=" keyword inside print statements with 4 or 5 spaces in your algorithm:

     print(..., end="    ")
     print(..., end="     ")

Which lines of code (line numbers) must you edit to successfully achieve the output above? 

⚫ 2, 4, 5
⚫ 4, 5
⚫ 1, 5, 6
⚫ 3, 4
⚫ 1, 4, 6

</pre>

#### SOLUTION:

In [116]:
num_cols = 6                      #changes
for i in range(num_cols, 0, -1):
    for j in range(0, num_cols-i):
        print(end="    ")
    for j in range(0, 2*i - 1):   #changes  
        print("~*~", end=" ")    #changes
    print()

    
    
#C -> It should be 1, 5, 6

~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~
    ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~
        ~*~ ~*~ ~*~ ~*~ ~*~ ~*~ ~*~
            ~*~ ~*~ ~*~ ~*~ ~*~
                ~*~ ~*~ ~*~
                    ~*~

<center> 
    <font size=6 color="blue">
        <b>Question 12</b>
    </font>
</center>

<pre>
Which ones are the proper (satisfies the PEP8 standard, not illigal, and based on the class notes) python 3 variable names? (This is not just about what will run properly, but also good coding practice as explained in class. Select all that apply)

⚫ _myVar
⚫ str
⚫ All_The_Students_In_The_12th_Grade_Science_Program
⚫ students_list
⚫ employee-dataframe
⚫ float
⚫ date_of_birth
⚫ S0m3Number
⚫ john_nash
⚫ df
</pre>

#### SOLUTION(S):

In [57]:
#
# 1, 4 ,5, 7, 8, 9, 10

#_myVar, student_list, date_of_birth, john_nash, df